<div id="output-container">
  <iframe id="output"></iframe>
</div>

<div id="cli">
  <span id="typed-cursor" class="blinking">
    <%= link_to "|", "#", id: "show-passkey" %>
  </span>

  <div class="input-area">
    <input id="passkey" placeholder="enter passkey">
  </div>

</div>
