<div class="post-heading">
  <h1>Index of /</h2>
  <div class="name">
    Name
  </div>

  <div class="last-modified">
    Last Modified
  </div>

  <div class="size">
    Size
  </div>

  <hr>
</div>

<div class="posts-container">
  <%= render @posts %>
</div>
