@charset 'utf-8';

@import 'bourbon';
@import 'base/grid-settings';
@import 'neat';
@import 'base/base';

*, html {
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  background: #fff;
}

.lobby {
  @include outer-container;
  max-width: 100%;
}

iframe {
  border: none;
}

#output {
  width: 100%;
  height: 100%;
}

#output-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  zoom: 1;
  margin: 0 auto;
  z-index: -1;
  display: none;
}

#output-container.clicked {
  right: -5000px;
}

area {
  outline: none;
}

.content-container {
  display: none;
  position: absolute;
  top: 0;
  width: 650px;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  background: none;
  max-height: 100vh;
  overflow: auto;
}

.name, .projects, .projects-header, .description {
  color: #222;
  border: 1px solid black;
  padding: 20px;
  margin: 50px 0;
}

.projects-header {
  background: none;
  font-size: 24px;
  color: black;
  margin: 0;
}

.name {
  background: #222;
  color: white;
  margin: 0;
}

.projects {
  margin-top: 25px;
}

.description {
  overflow: auto;

  .content {
    width: 60%;
    float: left;
  }
  .links {
    width: 30%;
    margin-left: 3%;
    float: left;
    p {
      margin: 0;
    }
  }
}

a, a:visited {
  box-shadow: inset 0 -5px 0 #ddd;
  color: inherit;
  text-decoration: none;
  font-family: 'Times', serif;
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
  letter-spacing: 0.5px;
}

a:hover {
  color: #666;
}

.date {
  margin-top: -23px;
  margin-left: 58px;
  font-size: 13px;
  color: blue;
}

.mobile-warning {
  display: none;
}

@media only screen and (max-width: 768px) {
  .content-container {
    width: 100%;
  }

  #output-container {
    pointer-events: none;
    max-height: 100vh;
    overflow: hidden;
  }

  .mobile-warning {
    display: block;
    background: yellow;
    padding: 7px;
    color: black;
  }
} 

.loading {
  text-align: center;
}
