body.posts-index {
  background: lightgray;
  @include span-columns(9);
  @include shift(1.5);
  margin-top: 25px;
}

.posts-container {
  background: lightgray;
}

.post {
  padding: 25px 0;
}

.name {
  @include span-columns(3);
}

.last-modified {
  @include span-columns(3);
}

.size {
  @include span-columns(3);
  @include omega();
}

a, a:visited {
  // border-bottom: 1px solid #cbeefa;
  box-shadow: inset 0 -5px 0 #CBFAD8;
  color: inherit;
}
