body.posts-index {
  background: lightgray;
  @include span-columns(9);
  @include shift(1.5);
  margin-top: 25px;
  margin-bottom: 50px;
}

body.posts-show {
  background: lightgray;
  @include span-columns(10);
  @include shift(1);
  margin-top: 25px;
  margin-bottom: 50px;
}

.posts-container {
  background: lightgray;
}

.post {
}

.name {
  @include span-columns(6);
}

.last-modified {
  @include span-columns(5);
}

.size {
  @include span-columns(1);
  @include omega();
}

a, a:visited, a:hover {
  box-shadow: inset 0 -5px 0 #CBFAD8;
  color: inherit;
}

.post-title {
  @include span-columns(7);
}

.post-body {
  @include span-columns(7);
}

.post-footer {
  @include span-columns(7);
}

.sidenote {
  position: absolute;
  left: 592px;
  @include span-columns(4);
  margin-left: 17px;
  // background: rgba(252, 252, 252, .3);
  padding: 5px;
  font-size: 10px;
  margin-top: 4px;
}

.post-destroy {
  margin-top: 10px;
}

a.anchor {
  position: absolute;
  left: 90px;
  margin-top: 3px;
  font: 1em verdana, sans-serif;
  text-decoration: none;
  box-shadow: none;
}

ul, ol {
  padding: 0px 0px 17px 51px;
  list-style-type: initial;
}
p {
  margin-left: 17px;
}

pre {
  margin-left: 17px;
  margin-bottom: 15px;
  background: whitesmoke;
  padding: 10px;
  margin-right: -27px;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
}
