body {
  background: lightgray;
  @include span-columns(9);
  @include shift(1.5);
  margin-top: 25px;
  margin-bottom: 50px;
}

.posts-container {
  background: lightgray;
}

.post {
}

.name {
  @include span-columns(6);
}

.last-modified {
  @include span-columns(5);
}

.size {
  @include span-columns(1);
  @include omega();
}

a, a:visited, a:hover {
  box-shadow: inset 0 -5px 0 #CBFAD8;
  color: inherit;
}

.post-title {
}

.post-body {
}

.post-destroy {
  margin-top: 10px;
}

a.anchor {
  position: absolute;
  left: 105px;
  margin-top: 3px;
  font: 1em verdana, sans-serif;
  text-decoration: none;
  box-shadow: none;
}
